In [1]:
import pandas as pd
import seaborn as sns

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [7]:
df = pd.read_csv("./BD/202004-divvy-tripdata.csv")
df.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual
5,356216E875132F61,docked_bike,2020-04-30 17:55:47,2020-04-30 18:01:11,Mies van der Rohe Way & Chicago Ave,173,Streeter Dr & Grand Ave,35.0,41.8969,-87.6217,41.8923,-87.6120,member
6,A2759CB06A81F2BC,docked_bike,2020-04-02 14:47:19,2020-04-02 14:52:32,Streeter Dr & Grand Ave,35,Fairbanks St & Superior St,635.0,41.8923,-87.6120,41.8957,-87.6201,member
7,FC8BC2E2D54F35ED,docked_bike,2020-04-07 12:22:20,2020-04-07 13:38:09,Ogden Ave & Roosevelt Rd,434,Western Ave & Congress Pkwy,382.0,41.8665,-87.6847,41.8747,-87.6864,casual
8,9EC5648678DE06E6,docked_bike,2020-04-15 10:30:11,2020-04-15 10:35:55,LaSalle Dr & Huron St,627,Larrabee St & Division St,359.0,41.8949,-87.6323,41.9035,-87.6434,casual
9,A8FFF89140C33017,docked_bike,2020-04-04 15:02:28,2020-04-04 15:19:47,Kedzie Ave & Lake St,377,Central Park Ave & North Ave,508.0,41.8846,-87.7063,41.9097,-87.7166,member

In [5]:
# Are there null values?
df.isnull().sum()

ride_id                0
rideable_type          0
started_at             0
ended_at               0
start_station_name     0
start_station_id       0
end_station_name      99
end_station_id        99
start_lat              0
start_lng              0
end_lat               99
end_lng               99
member_casual          0
dtype: int64

There are null values but are a few amount compared whit the dataframe length, in upcoming stages I'll evaluate the best way to deal with that missing data.
______

# Answers To solve:
- How do annual members and occasional riders differ in their use of Cyclistic bicycles?
- Why would casual cyclists buy Cyclistic annual memberships?
- How can Cyclistic use digital media to influence casual cyclists to become members?

In [8]:
# Creating a df with only the members and anotherone with only casual users
members_df = df[df["member_casual"] == "member"]
casual_df = df[df["member_casual"] == "casual"]

## Looking for differences of both dataframes

In [13]:
members_df.describe()

,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng
count,61148.000000,61089.000000,61148.000000,61148.000000,61089.000000,61089.000000
mean,234.217799,234.003863,41.908113,-87.649148,41.908156,-87.649352
std,159.022066,159.688898,0.042538,0.024442,0.042481,0.024518
min,2.000000,2.000000,41.736600,-87.774700,41.736600,-87.774700
25%,111.000000,110.000000,41.884500,-87.664200,41.884200,-87.664200
50%,211.000000,211.000000,41.903000,-87.646300,41.903000,-87.646400
75%,321.000000,321.000000,41.932400,-87.631900,41.932600,-87.631900
max,673.000000,673.000000,42.064900,-87.551200,42.064900,-87.551200

In [14]:
casual_df.describe()

,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng
count,23628.000000,23588.000000,23628.000000,23628.000000,23588.000000,23588.000000
mean,243.136067,244.681151,41.908268,-87.649761,41.908292,-87.650245
std,163.349676,163.949942,0.045259,0.026957,0.045397,0.027021
min,2.000000,2.000000,41.736600,-87.774700,41.736600,-87.774700
25%,114.000000,115.000000,41.884700,-87.665800,41.884700,-87.666600
50%,219.000000,220.000000,41.904600,-87.646600,41.904600,-87.647800
75%,329.000000,329.000000,41.935700,-87.631300,41.936100,-87.631300
max,673.000000,673.000000,42.064900,-87.549400,42.064900,-87.549400